{% extends 'book/base.html' %}
{% load humanize %}
{% load l10n %}

{% block titleblock %}
    <title>{{ book.title }} | Chi tiết sản phẩm</title>
{% endblock %}

{% block cssblock %}
    <link href="https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
{% endblock %}

{% block content %}
    <div class="pd-wrap">
        <div class="container">
            <div class="heading-section">
                <h2>Thông tin chi tiết sản phẩm</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="slider" class="owl-carousel product-slider">
                        {% for item in images %}
                            <div class="item">
                                <img src="{{ item.src.url }}"/>
                            </div>
                        {% endfor %}

                    </div>
                    <div id="thumb" class="owl-carousel product-thumb">
                        {% for item in images %}
                            <div class="item">
                                <img src="{{ item.src.url }}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-dtl">
                        <div class="product-info">
                            <div class="product-name">{{ book.title }}</div>
                            <div class="name">
                                {% for au in authors %}
                                    {% if authors.last == au %}
                                        {{ au.name }}
                                    {% else %}
                                        {{ au.name }},
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <p></p>
                            <div class="reviews-counter">
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" checked/>
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" checked/>
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" checked/>
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2"/>
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1"/>
                                    <label for="star1" title="text">1 star</label>
                                </div>
                                <span>3 Đánh giá</span>
                            </div>
                            <div class="product-price-discount"><span>{{ book.price|intcomma|localize }} VNĐ</span><span
                                    class="line-through">0</span>
                            </div>
                        </div>
                        <p>{{ book.description }}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="size">Kích cỡ</label>
                                <select id="size" name="size" class="form-select">
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="color">Màu sắc</label>
                                <select id="color" name="color" class="form-select">
                                    <option>Xanh dương</option>
                                    <option>Xanh lá cây</option>
                                    <option>Đỏ</option>
                                </select>
                            </div>
                        </div>
                        <div class="product-count">
                            <label for="size">Số lượng</label>
                            <form action="#" class="display-flex">
                                <div class="qtyminus">-</div>
                                <input type="text" name="quantity" value="1" class="qty">
                                <div class="qtyplus">+</div>
                            </form>
                            <a href="#" class="round-black-btn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                           aria-controls="description" aria-selected="true">Mô tả</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="auth-description-tab" data-toggle="tab" href="#auth-description"
                           role="tab"
                           aria-controls="auth-description" aria-selected="false">Giới thiệu về tác giả</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                           aria-controls="review" aria-selected="false">Đánh giá</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                         aria-labelledby="description-tab">
                        <table class="table table-light">
                            <tbody>
                            <tr>
                                <th scope="col" colspan="2" class="bg-success text-white">Thông tin chung</th>
                            </tr>
                            <tr>
                                <th>Tựa đề</th>
                                <td>{{ book.title }}</td>
                            </tr>
                            <tr>
                                <th>ISBN</th>
                                <td>{{ book.isbn }}</td>
                            </tr>
                            <tr>
                                <th>Tác giả</th>
                                <td>
                                    {% for au in authors %}
                                        {% if authors.last == au %}
                                            {{ au.name }}
                                        {% else %}
                                            {{ au.name }},
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Ấn bản thứ</th>
                                <td>{{ book.edition }}</td>
                            </tr>
                            <tr>
                                <th>Nhà xuất bản</th>
                                <td>{{ book.publisher.name }}</td>
                            </tr>
                            <tr>
                                <th>Ngày xuất bản</th>
                                <td>{{ book.publicationDate }}</td>
                            </tr>
                            <tr>
                                <th>Số trang</th>
                                <td>{{ book.numOfPages }}</td>
                            </tr>
                            <tr>
                                <th>Ngôn ngữ</th>
                                <td>{{ book.language }}</td>
                            </tr>
                            <tr>
                                <th>Mô tả vật lý<br>(Dài x Rộng x Cao)</th>
                                <td>{{ book.dimensions }}</td>
                            </tr>
                            <tr>
                                <th>Khối lượng</th>
                                <td>{{ book.weight }} kg</td>
                            </tr>
                            <tr>
                                <th>Thể loại</th>
                                <td>{{ book.category.type }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="auth-description" role="tabpanel"
                         aria-labelledby="auth-description-tab">
                        <table class="table table-light">
                            <thead>
                            <tr>
                                <th scope="col" class="bg-success text-white">Tác giả</th>
                                <th scope="col" class="bg-success text-white">Thông tin</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for au in authors %}
                                <tr>
                                    <th scope="row">{{ au.name }}</th>
                                    <td>{{ au.bio }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="review-heading">REVIEWS</div>
                        <p class="mb-20">There are no reviews yet.</p>
                        <form class="review-form">
                            <div class="form-group">
                                <label>Your rating</label>
                                <div class="reviews-counter">
                                    <div class="rate">
                                        <input type="radio" id="star5" name="rate" value="5"/>
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4"/>
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3"/>
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2"/>
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1"/>
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Your message</label>
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="" class="form-control" placeholder="Name*">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="" class="form-control" placeholder="Email Id*">
                                    </div>
                                </div>
                            </div>
                            <button class="round-black-btn">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block jsblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}
