{% extends 'book/base.html' %}

{% block titleblock %}
    <title>Thêm điện thoại</title>
{% endblock %}

{% block cssblock %}
    <link href="https://fonts.googleapis.com/css?family=Cabin:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
{% endblock %}

{% block content %}
    <div class="pd-wrap">
        <div class="container">
            <div class="heading-section">
                <h2>Thêm điện thoại</h2>
            </div>
            <div class="product-info-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                           aria-controls="description" aria-selected="true">Mô tả</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                     aria-labelledby="description-tab">
                    <table class="table table-hover table-light">
                        <tbody>
                        <form action="{% url 'mobile_phone:add_phone' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Thông tin chung</th>
                            </tr>
                            <tr>
                                <th>Tên điện thoại:</th>
                                <td colspan="2">{{ phone_form.name }}</td>
                            </tr>
                            <tr>
                                <th>Thời điểm ra mắt:</th>
                                <td colspan="2">{{ phone_form.releaseDate }}</td>
                            </tr>
                            <tr>
                                <th>Nhà sản xuất:</th>
                                <td colspan="2">{{ phone_form.manufacturer }}</td>
                            </tr>
                            <tr>
                                <th>Mô tả:</th>
                                <td colspan="2">{{ phone_form.description }}</td>
                            </tr>
                            <tr>
                                <th>Giá:</th>
                                <td colspan="2">{{ phone_form.price }}</td>
                            </tr>
                            <tr>
                                <th>Thiết kế:</th>
                                <td colspan="2">{{ phone_form.designType }}</td>
                            </tr>
                            <tr>
                                <th>Chất liệu:</th>
                                <td colspan="2">{{ phone_form.material }}</td>
                            </tr>
                            <tr>
                                <th>Kích thước:<br>(Dài x Ngang x Dày)</th>
                                <td colspan="2">{{ phone_form.dimensions }}</td>
                            </tr>
                            <tr>
                                <th>Khối lượng:</th>
                                <td colspan="2">{{ phone_form.weight }}</td>
                            </tr>
                            <tr>
                                <th>Loa:</th>
                                <td colspan="2">{{ phone_form.speaker }}</td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Màn hình</th>
                            </tr>
                            <tr>
                                <th>Công nghệ màn hình:</th>
                                <td colspan="2">{{ screen_form.technology }}</td>
                            </tr>
                            <tr>
                                <th>Độ phân giải:</th>
                                <td colspan="2">{{ screen_form.resolution }}</td>
                            </tr>
                            <tr>
                                <th>Màn hình rộng:</th>
                                <td colspan="2">{{ screen_form.diagonal }}</td>
                            </tr>
                            <tr>
                                <th>Tần số quét:</th>
                                <td colspan="2">{{ screen_form.refreshRate }}</td>
                            </tr>
                            <tr>
                                <th>Độ sáng tối đa:</th>
                                <td colspan="2">{{ screen_form.brightness }}</td>
                            </tr>
                            <tr>
                                <th>Mặt kính cảm ứng:</th>
                                <td colspan="2">{{ screen_form.glass }}</td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Camera sau</th>
                            </tr>
                            <tr>
                                <th>Độ phân giải:</th>
                                <td colspan="2">{{ rear_cam_form.rearResolution }}</td>
                            </tr>
                            <tr>
                                <th>Đèn flash:</th>
                                <td colspan="2">{{ rear_cam_form.flash }}</td>
                            </tr>
                            <tr>
                                <th>Quay phim:</th>
                                <td>{{ rear_cam_form.rearRecordingRes }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_recording_res' %}"
                                       role="button">Thêm chất lượng quay</a></td>
                            </tr>
                            <tr>
                                <th>Tính năng:</th>
                                <td>{{ rear_cam_form.rearFeatures }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_cam_feat' %}"
                                       role="button">Thêm tính năng</a></td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Camera trước</th>
                            </tr>
                            <tr>
                                <th>Độ phân giải:</th>
                                <td colspan="2">{{ front_cam_form.frontResolution }}</td>
                            </tr>
                            <tr>
                                <th>Quay phim:</th>
                                <td>{{ front_cam_form.frontRecordingRes }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_recording_res' %}"
                                       role="button">Thêm chất lượng quay</a></td>
                            </tr>
                            <tr>
                                <th>Tính năng:</th>
                                <td>{{ front_cam_form.frontFeatures }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_cam_feat' %}"
                                       role="button">Thêm tính năng</a></td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Bộ nhớ & Lưu trữ</th>
                            </tr>
                            <tr>
                                <th>RAM:</th>
                                <td colspan="2">{{ storage_form.ram }}</td>
                            </tr>
                            <tr>
                                <th>Bộ nhớ trong:</th>
                                <td colspan="2">{{ storage_form.internalMem }}</td>
                            </tr>
                            <tr>
                                <th>Bộ nhớ trong khả dùng còn lại:</th>
                                <td colspan="2">{{ storage_form.internalMemAvail }}</td>
                            </tr>
                            <tr>
                                <th>Thẻ nhớ:</th>
                                <td colspan="2">{{ storage_form.memoryCard }}</td>
                            </tr>
                            <tr>
                                <th>Danh bạ:</th>
                                <td colspan="2">{{ storage_form.contacts }}</td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Hệ điều hành, CPU & GPU</th>
                            </tr>
                            <tr>
                                <th>Hệ điều hành:</th>
                                <td colspan="2">{{ os_form.os }}</td>
                            </tr>
                            <tr>
                                <th>CPU:</th>
                                <td colspan="2">{{ os_form.cpu }}</td>
                            </tr>
                            <tr>
                                <th>Tốc độ CPU:</th>
                                <td colspan="2">{{ os_form.cpuDescription }}</td>
                            </tr>
                            <tr>
                                <th>GPU:</th>
                                <td colspan="2">{{ os_form.gpu }}</td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Kết nối</th>
                            </tr>
                            <tr>
                                <th>Mạng di động:</th>
                                <td colspan="2">{{ connect_form.cellularNetwork }}</td>
                            </tr>
                            <tr>
                                <th>SIM:</th>
                                <td colspan="2">{{ connect_form.sim }}</td>
                            </tr>
                            <tr>
                                <th>Wi-Fi:</th>
                                <td>{{ connect_form.wifi }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_wifi_tech' %}"
                                       role="button">Thêm công nghệ Wi-Fi</a></td>
                            </tr>
                            <tr>
                                <th>GPS:</th>
                                <td>{{ connect_form.gps }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_gps_tech' %}"
                                       role="button">Thêm công nghệ GPS</a></td>
                            </tr>
                            <tr>
                                <th>Bluetooth:</th>
                                <td>{{ connect_form.bluetooth }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_bluetooth_tech' %}"
                                       role="button">Thêm công nghệ Bluetooth</a></td>
                            </tr>
                            <tr>
                                <th>Cổng kết nối/ sạc:</th>
                                <td>{{ connect_form.charger }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_charger_tech' %}"
                                       role="button">Thêm cổng kết nối</a></td>
                            </tr>
                            <tr>
                                <th>Jack tai nghe:</th>
                                <td>{{ connect_form.headphone }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_headphone_tech' %}"
                                       role="button">Thêm jack tai nghe</a></td>
                            </tr>
                            <tr>
                                <th>Kết nối khác:</th>
                                <td colspan="2">{{ connect_form.others }}</td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Pin & sạc</th>
                            </tr>
                            <tr>
                                <th>Dung lượng pin:</th>
                                <td colspan="2">{{ battery_form.capacity }}</td>
                            </tr>
                            <tr>
                                <th>Loại pin:</th>
                                <td colspan="2">{{ battery_form.type }}</td>
                            </tr>
                            <tr>
                                <th>Hỗ trợ sạc tối đa:</th>
                                <td colspan="2">{{ battery_form.maxWattage }}</td>
                            </tr>
                            <tr>
                                <th>Sạc kèm theo máy:</th>
                                <td colspan="2">{{ battery_form.providedWattage }}</td>
                            </tr>
                            <tr>
                                <th>Công nghệ pin:</th>
                                <td>{{ battery_form.technologies }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_battery_tech' %}"
                                       role="button">Thêm công nghệ pin</a></td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Tính năng</th>
                            </tr>
                            <tr>
                                <th>Bảo mật nâng cao:</th>
                                <td colspan="2">{{ util_form.advancedSecurities }}</td>
                            </tr>
                            <tr>
                                <th>Tính năng đặc biệt:</th>
                                <td>{{ util_form.specialFeatures }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_special_feat' %}"
                                       role="button">Thêm tính năng</a></td>
                            </tr>
                            <tr>
                                <th>Kháng nước, bụi:</th>
                                <td colspan="2">{{ util_form.resistances }}</td>
                            </tr>
                            <tr>
                                <th>Ghi âm:</th>
                                <td colspan="2">{{ util_form.recorder }}</td>
                            </tr>
                            <tr>
                                <th>Định dạng video được hỗ trợ:</th>
                                <td>{{ util_form.videoFormats }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_video_format' %}"
                                       role="button">Thêm định dạng video</a></td>
                            </tr>
                            <tr>
                                <th>Định dạng âm thanh được hỗ trợ:</th>
                                <td>{{ util_form.audioFormats }}</td>
                                <td><a class="btn btn-success" href="{% url 'mobile_phone:add_audio_format' %}"
                                       role="button">Thêm định dạng âm thanh</a></td>
                            </tr>

                            <tr>
                                <th scope="col" colspan="3" class="bg-warning text-dark">Ảnh (tối đa 15 ảnh)</th>
                            </tr>
                            {{ img_form.management_form }}
                            {% for form in img_form %}
                                <tr>
                                    <th>Ảnh:</th>
                                    <td colspan="2">
                                        {{ form.src }}
                                    </td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <th></th>
                                <td colspan="2"><input type="submit" value="Lưu" class="btn btn-danger"></td>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block jsblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}